node_modules
dist
.tmp
.sass-cache
bower_components
.idea
.DS_Store
www/
platforms/android/assets/
platforms/android/assets/www/index.html
platforms/android/CordovaLib/ant-build/
platforms/android/ant-build/
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
platforms/ios/TwimpApp.xcodeproj/project.xcworkspace/
platforms/ios/TwimpApp.xcodeproj/xcuserdata/