<div>
  <p>{{player.name}} ({{currentRace.name}})</p>
  <button>Tech</button>
  <button>Combat</button>
  <button>Unit</button>
  <h3>Starting Technologies</h3>
  <div id="startingTechs" ng-repeat="tech in startingTechs">
    <p>{{tech.name}}</p>
  </div>
  <h3>Acquired Technologies</h3>
  <div id="acquiredTechs" ng-repeat="tech in acquiredTechs">
    <p>{{tech.name}}</p>
  </div>
  <h3>All Technologies</h3>
  <div id="allTechs" ng-repeat="tech in allTechs">
    <p ng-click="add('{{tech.id}}')">{{tech.name}}</p>
  </div>
</div>
