<div class="panel panel-primary">
  <div class="panel-heading">{{player.name | uppercase}} ({{currentRace.name | uppercase}})</div>
  <ul class="list-group">
    <li class="list-group-item">
      <button navigate-to="/tech">Tech</button>
      <button navigate-to="/combat">Combat</button>
      <button navigate-to="/unit">Unit</button>
    </li>
  </ul>
  <div class="panel-body">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Starting Technologies</div>
      <ul class="list-group" id="startingTechs">
        <li class="list-group-item" ng-repeat="tech in startingTechs">{{tech.name}}</li>
      </ul>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Acquired Technologies</div>
      <ul class="list-group" id="acquiredTechs">
        <li class="list-group-item" ng-click="remove('{{tech.id}}')" ng-repeat="tech in acquiredTechs">{{tech.name}}
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Available Technologies</div>
      <ul class="list-group" id="allTechs">
        <li class="list-group-item"  ng-click="add('{{tech.id}}')" ng-repeat="tech in availableTechs | orderBy:type | orderBy:name">{{tech.name}}</li>
      </ul>
    </div>
  </div>
</div>
