<div class="panel panel-primary">
  <div class="panel-heading">{{player.name | uppercase}} ({{currentRace.name | uppercase}})</div>
  <ul class="list-group">
    <li class="list-group-item">
      <button navigate-to="/technology" class="btn btn-default">Tech</button>
      <button navigate-to="/combat" class="btn btn-default">Combat</button>
      <button navigate-to="/unit" class="btn btn-default">Unit</button>
    </li>
  </ul>
  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Unit</th>
        <th>Cost</th>
        <th>Battle</th>
        <th>Movement</th>
      </thead>
      <tr ng-repeat="unit in units">
        <td>{{unit.name}}</td>
        <td>{{unit.cost}}</td>
        <td>{{unit.attack}} ({{unit.attacks}}x)</td>
        <td>{{unit.move}}</td>
      </tr>
    </table>
  </div>
</div>
